.titulo{
    text-align:center ;
    background-color: #F47920;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

.menu{
    padding: 20px;
    background-size:#A54686;
    width: 100%;
}
.parrafo{
    text-anchor: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    backdrop-filter: #43C7F4;
}
